<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vanilla JS Project</title>
  <script
  src="https://cdn.jsdelivr.net/npm/@iframe-resizer/child"
  type="text/javascript"
  async
></script>
</head>
<body>
    <div id="hello-world-container"></div>

<script src="https://reachify-bucker.s3.us-east-1.amazonaws.com/bundles/layoutWidgetMainFinal.bundle.js?spaceId=66acbb8d01328df97a7be18a&layoutType=fixed"></script> 
<!-- <script src="https://reachify-bucker.s3.us-east-1.amazonaws.com/bundles/layoutWidgetMain.js?layoutType=fixed&spaceId=66acbb8d01328df97a7be18a"></script> -->
<!-- <script>
    // ColelctionWidgetHelper.mount('hello-world-container','66acbb8d01328df97a7be18a');
    LayoutHelper.mount('hello-world-container','66acbb8d01328df97a7be18a','carousel')
</script> -->
</body>
</html>
`