<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vanilla JS Project</title>
  <!-- Include the built script from your Next.js project -->
  <!-- <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>  -->
</head>
<body>
    <div id="hello-world-container"></div>
<!-- <script src="./collectionWidget.main.js"></script> -->
<!-- <script src="./badgeWidget.main.js"></script> -->
<script src="./layoutWidget.main.js"></script> 
<!-- <script>
    // ColelctionWidgetHelper.mount('hello-world-container','66acbb8d01328df97a7be18a');
    BadgeWidgetHelper.mount('hello-world-container','66acbb8d01328df97a7be18a')
</script> -->
</body>
</html>
